._.DS_Store
._config.plist
._README.md
._info.plist
.contentFlavour
._.gitignore
._LICENSE.md
._AudioDxe.efi
._OpenRuntime.efi
._AppleALC.kext
._Lilu.kext
._WhateverGreen.kext
._CpuTscSync.kext
._OpenCore.efi
._BOOT